@charset "UTF-8";

div {
    margin: 20px;
    font-size: 20pt;
}
a {
    margin: 20px;
    font-size: 18pt;
    border: 0;
    text-decoration: none;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 0px 4px gray;
    color: black;
}